beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
idna==3.4
pycparser==2.21
PySimpleGUI==4.60.4
requests>=2.31.0
soupsieve==2.4.1
urllib3==2.0.2
Markdown==3.4.3
wikipedia==1.4.0
packaging==23.1
py2app==0.28.6
Levenshtein==0.21.1
lxml==4.9.3
PyDictionary==2.0.1
spacy==3.6.0
rapidfuzz==3.1.1
numpy==1.25.1
./utilities/Pillow-10.0.0-cp311-cp311-macosx_11_0_universal2.whl
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
goslate==1.5.4

